<h1>id = 
<%= @k_task.id %>
 のタスク詳細ページ</h1>

<p>タスク:
<%= @k_task.content %>
</p>
<p>ステータス:
<%= @k_task.status %>
</p>

<%= link_to '一覧に戻る', k_tasks_path %>
<%= link_to 'このメッセージを編集する', edit_k_task_path(@k_task) %>
<%= link_to 'このメッセージを削除する', @k_task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }%>
